#headingList li
{
	display: inline;
	color: black;
	font-size: 75%;
}
.knopki
{
	padding-left: 10px;
	margin-left: -53%;
}
.knopka
{
	display: inline-block;
	background-color: #E6E6E6;
	margin-right: 7px;
	border-radius: 3px;
	cursor: pointer;
	height: 13px;
	width: 13px;
}
/*
.knopka:nth-of-type(4)
{
	background-color: #3394DF;
}*/
.firstknopka
{
	background-color: #3394DF;
}
.generalBox
 {
    position: relative;
	margin-right: 30px;
    padding: 5px;
    padding-top: 1px;
	padding-bottom: 30px;
    width:270px;
    height:110px;
    color: white; 
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
}
.generalBox a
{
	position: absolute;
	font-size: 90%;
	right: 120px;
	bottom: 10px;
}
.pinkBox a:before
{
	position: relative;
	top: 5px;
	right: 15%;
	content: url('../images/link_icon.png');
}
.greenBox a:before
{
	position: relative;
	top: 9px;
	right: 15%;
	content: url('../images/file_icon.png');
}
.orangeBox a:before
{
	position: relative;
	top: 5px;
	right: 15%;
	content: url('../images/play_icon_img.png');
}
 .pinkBox
 {
 	background-color:  #f24f9e;
 	font-size: 90%;
 }
 .orangeBox
 {
 	background-color: orange;
 	font-size: 95%;
 }
.greenBox
{
	background-color: green;
	font-size: 95%;
}
.cssKnopki
{
	display: none;
}

.centeredHeaderPosition
{
	text-align: center;
}
.selectLocation
{
	position: relative;
	bottom: 10px;
	border: transparent; 
	font-size: 100%;
}
#custLogin
{
	margin-bottom: 10rem;
}

body 
{
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.searchLayout
{
	display: inline-block;
	text-align: left;
	margin-bottom: 1.2rem;
	margin-right: 0;
}
.CustLoginPosition
{
	position: relative;
	top: 0.1px;
	display: inline-block;
	text-align: left;
	margin-bottom: 1rem;
	margin-right: 0;
	font-size: 120%
}

#buttonRadius
{
	border: solid;
	color: rgb(220,220,220);
	border-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
	position: relative;
	display: inline-block;
	padding: 0.1rem 0.5rem;
	height: 0.8rem;
}

#query
{
	display: inline-block;
	position: relative;
	bottom: 0.2rem;
	width: 65%;
	height: 0.8rem;
	border-right: none;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.comverseBcg
{
	background-size: cover;
	background: url(../images/slide-bg-complexity.png) 70% no-repeat fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
	height: 500px;
	background-position: center;
    display: block;
    padding-top: 5px;
    padding-bottom: 15px;
}
h2, p
{
	color: white;
	font-weight: normal;
	text-align: left;
	margin-left: 20%;
	font-size: 125%;
}
.blueArea
{
	background-image: url(../images/services-bg.png);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:  radial-gradient(#59BEDB 0%, #3399CC 100%);
	width: 100%;
	height: 340px;
	padding-top: 0.1px;
	padding-bottom: 40px;
	margin-bottom: 0px; 
}
.whatsHappeningArea 
{
	background-size: cover;
	height: 290px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: url(../images/news-and-events-bg.png) 50% no-repeat fixed;
	margin-bottom: 0px; 
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

.allNewsIcon {
	background: url(../images/eventListIconNews.png) no-repeat;
	margin: 5px 30px 0;
	font-size: 1em;
	display: inline-block;
}

.allNewsIcon:hover {
	background: url(../images/eventListIconNewsHover.png) no-repeat;
	color: black;
}
.allEventsIcon {
	background: url(../images/eventListIconEvents.png) no-repeat;
	margin: 5px 30px 0;
	font-size: 1em;
	display: inline-block;
}
.allEventsIcon:hover {
	background: url(../images/eventListIconEventsHover.png) no-repeat;
	color: black;
}
.disableList {
	list-style-type: none;
	position: relative;
	right: 5.5em;
	margin-top: 0.5em;
	padding-left: 2em;
}

.blueArea li
{
	display: inline-block;
	position: relative;
	text-align: center;
}
.canWeDoHeader
{
	padding-top: 30px;
}

h2
{
	color: white;
	text-align: left;
	font-weight: normal;
	margin-left: 20%;
	font-size: 200%;
}
.loginPosition{
	position: relative;
    left: 58em;
 }
li a
{
	margin: 1%;
}
a
{
	color: inherit;
	text-decoration: none;
}

li
{
	color: blue;
}
.allSucessStories
{
    display: block;
    background: #2793C9;
    color: white;
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 15px;
    width: 20%;
    position: relative;
    bottom: 20px;
    text-align: left;	
}
.allSucessStories:after
{
	content: url('../images/btnArrow.png');
    position: relative;
    padding-left: 1em;
    top: 2px;	
}

.ourSolutions
{
    display: block;
    background: #2793C9;
    color: white;
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 15px;
    width: 20%;
    text-align: left;
}
.ourSolutions:after
{
	content: url('../images/btnArrow.png');
    position: relative;
    padding-left: 1em;
    top: 2px;
}
.LearnMoreButton
{
    display: block;
    background: #2793C9;
    color: white;
    font-size: 14px;   
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 15px;
    width: 10%;
    margin-left: 20%;
    text-align: left;
}
.LearnMoreButton:after
{
	content: url('../images/btnArrow.png');
    position: relative;
    padding-left: 1em;
    top: 2px;
}
.centerText
{
	position: relative;
	right: 20px; 
}
.marginTop
{
	margin-top: 10px;
}

.weCanDoList  li
{
	display: inline-block;
	color: white;
	padding-right: 30px;
}
.newsAndEventsList li
{
	position: relative;
	left: 1.5em;
	display: inline-block;
	color: white;
	padding-right: 1em;
}

.news
{
	position: relative;
	right: 100px;
}
.newsAndEvents
{
	position: relative;
	text-align: left;
	font-size: 1.3em;
}
.blackAndWhite
{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.companyLogoLast{
	float: right;
	height: 30px;
	position: relative;
	top: 10px;
}
.companyLogo{
	float: right;
	height: 60px;
}
.sergeyKorotychBlock
{
	display: inline-block;
}
.authorLast
{
	background-color: white;
	height: 55px;
	position: relative;
	bottom: 15px;
	text-align: left;
}

.author
{
	background-color: white;
	padding: 0;
	height: 60px;
	text-align: left;
}
.companyLast
{
	font-size: 85%;
}

.company 
{
	margin: 0;
}
.adaleSpeech
{
	font-size: 100%;
}
.JpQuoteAdale
{
	width: 310px;
	height: 180px;
	position: relative;
	bottom: 83px;
	color: #7b7b7b;
}
.sergeyKorotychColor
{
	text-transform: uppercase;
	margin: 3px 0 0 0;
	color: rgb(50, 150, 200);;
}
.successSingleStoryLast
{
	width: 200px;
	height: 300px;
}
.successSingleStory {
	width: 318px;
	height: 300px;
	float: left;
}
.JpQuoteLast {
	width: 180px;
	height: 455px;
	margin: 0 10px 10px 0;
	color: #7b7b7b;
}

.JpQuoteLast
{
	width: 180px;
	height: 455px;
	margin: 0 10px 10px 0;
	color: #7b7b7b;
	font-size: 97%;
}

.JpQuote {
	width: 310px;
	height: 455px;
	margin: 0 10px 10px 0;
	color: #7b7b7b;
}
.JpQuoteImage {
	height: 110px;
	width: 100px;
	float: left;
}
.JpQuoteTextLast
{
	margin: 0.2px;
	height: 125px;
	background-color: white;
	color: rgb(120, 120, 120);	
}

.JpQuoteText 
{
	margin: 0.5px;
	overflow: hidden;
	background-color: white;
	color: rgb(120, 120, 120);
}
ul
{
	list-style: none;
}
.lastClientLogo
{
	width: 95px;
	height: 80px;	
	position: relative;
	bottom: 80px;
	left: 88px;
}
.clientLogoLast2
{
	position: relative;
	bottom: 78px;
	left: 55px;
	width: 85px;
	height: 70px;
	background: rgb(255, 255, 255);
	float: left;
}
.clientLogoLast
 {
	width: 85px;
	height: 70px;
	background: rgb(255, 255, 255);
	float: left;
	position: relative;
	bottom: 8px;
	right: 40px;
}
.clientLogo {
	width: 100px;
	height: 80px;
	background: rgb(255, 255, 255);
	float: left;
	position: relative;
	right: 42px;
}

.clientLogo:first-child{
	margin-top: 5px;
	margin-right: 2px;
	margin-left: 4px;
}

.clientLogo:after {
}

.clientLogo:hover:after {
	height: 100%;
}
.container 
{
	display: inline-block;
}
.copyright
{
	display: block;
	clear: left;
	text-align: left;
	padding-top: 80px;
	padding-left: 85px;
	color: rgb(113,113,113);
	float: bottom;
}
.socialLinksPostions li
{
	display: inline-block;
	position: relative;
	top: 100px;
	right: 100px;
}
.newsEventsBlock
{
	background: rgba(215,210,203,0.3);
	width: 250px;
    height: 100px;
	text-align: left;
	font-size: 80%;
	color: black;
}
.newsEventsBlock:hover
{
	background: rgba(220,210,203,0.6);	
}
.successStoriesHeader 
{
	color: rgb(120, 120, 120);
	padding-top: 40px;
}
.successStoriesBcg 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: rgb(230, 230, 230);
	height: 480px;
	width: 100%;
	margin-bottom: 0;
}

.dateAndMonth
{
	float: left;
	width: 70px;
	height: 90px;
	background: rgb(50, 150, 200);
	border-radius: 1px;
	margin: 5px;
}
.date
{
	text-align: center;
	font-size: 2.5em;
	border-bottom: 1px dotted;
}
.month
{
	text-transform: uppercase;
	text-align: center;
	padding: 4px;
	font-size: 1.2em;
}
.inline
{
	display: inline;
}

.center
{
	text-align: center;
	margin: auto;
}
.paddingTop
{
	padding-top: 10px;
}
.dataMonetization
{
	content: url('../images/data-monetization.png');
}
.machineToMachine
{
	content: url('../images/robot-icon.png');
}
.overTheTop
{
	content: url('../images/flag-icon.png');
}
.cloudComputing
{
	content: url('../images/cloud-icon.png');
}
.managedServices
{
	content: url('../images/managed-services.png');
}
.socialMedia
{
	content: url('../images/social-icon.png');
}
footer {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #dbdbdb;
	background: url(../images/footer-bg.png);
	height: 355px;
	margin-top: 0;
}
.disableMarginTop
{
	margin-top: 0px;
}
.disableMarginBottom
{
	margin-bottom: 0px;
}
.whiteFont
{
	color: #dadada;
}
.headerFooter
{
	text-transform: uppercase;
	font-size: 1em;
}
.footerCategories
{
	text-align: left;
}

.footerCategory {
	float: left;
	margin-right: 30px;
	margin-left: 15px;
}

.subscribe 
{
	float: right;
	width: 265px;
	height: 355px;
	background: rgba(220, 215, 203, 0.2);
	color: white;
}

.subscribe h1 
{
	color: #4eb7d3;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bolder;
	text-align: center;
}

.latestPosts
{
	margin: 20px;
	padding-bottom: 20px;
	font-size: 1.2em;
	border-bottom: 1px solid rgb(100, 100, 100);
}
.dateFooter {
	float: left;
	margin-right: 25px;
}
.blogPostsDate
{
	position: relative;
	left: 35px;
}
.dayFooter {
	font-weight: bolder;
	padding-bottom: 0;
	font-size: 2em;
}
.convergentTitle
{
	padding-top: 10px;
	width: 200px;
	height: 20px;
	text-align: left;
}
.monthFooter {
	text-align: center;
	padding-top: 0;
	font-size: 1.4em;
}
.width
{
	width: 1300px;
}
.subscribeHeader {
	border-top: 5px dotted;
	width: 85%;
	height: 26px;
	margin: 0;
	padding: 0 0 0 0.5px;
	background: white;
}

.subscribeHeader h1
{	
	position: relative;
	top: 40px;
	right: 50px;
	width: 120%;
	margin-top: 10px;
	margin-bottom: 15px;
}
#linkedin:hover
{
	content: url('../images/socialMenuIcon-linkdin_hover.png');
}
#youtube:hover
{
	content: url('../images/socialMenuIcon-youtube_hover.png');
}
#twitter:hover
{
	content: url('../images/socialMenuIcon-twitter_hover.png');
}
.borderDotted
{
	border-bottom: 1px dotted;
	color: white;
	width: 220px;
	position: relative;
	top: 55px;
	height: 5px;
}
.subscribeSubmit 
{
	background: linear-gradient(to bottom, #40a5d7 , #2a92c6);
	color: white;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	height: 26px;
	width: 30%;
	float: right;
	padding: 0;
	margin-left: 0px;
}
.subscribeEmail {
	width: 67%;
	height: 26px;
	margin: 0;
	padding: 0 0 0 5px;
	border: none;
	border-radius: 2px;
	background: white;
	margin-right: 0px;
}
.emailPosition
{
	position: relative;
	top: 15px;
}
@media (max-width: 777px)
{
	.width { width: 100%;}
}









